.app-footer {
  background-color: #ECEEFE;
  /* danach auf transparent setzen, gilt nur als Referenz */
  width: 100%;
  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 8px;
}

.footer-nav a {
  color: #797EF3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  min-width: 138px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30px;
  transition: color 0.125s ease-in-out, box-shadow 0.125s ease-in-out, text-shadow 0.125s ease-in-out;
  padding: 8px 16px;
}

.footer-nav a:nth-child(1) {
  min-width: 126px;
}

.footer-nav a:hover {
  color: #444DF2;
  font-weight: 700;
  box-shadow: 0 0 0 1px #ADB0D9;
  text-shadow: 0 0 0 currentColor;
}

.footer-nav a:focus-visible {
  box-shadow: 0 0 0 1px #ADB0D9;
}