<div class="chat-layout-container" [class.sidebar-collapsed]="isSidebarCollapsed" [class.chat-active]="isChatActive" [class.thread-active]="isThreadActive">
	<app-sidebar class="sidebar-container" (collapsedChange)="onSidebarCollapsedChange($event)"></app-sidebar>

	<div class="chat-area">
		<router-outlet></router-outlet>
	</div>

	@if (selectedMessageId) {
	<div class="thread-area">
		<app-thread [parentMessageId]="selectedMessageId" [channelId]="selectedChannelId"
			[conversationId]="selectedConversationId" [isDirectMessage]="isDirectMessage"
			(threadClosed)="closeThread()">
		</app-thread>
	</div>
	}
</div>