<div class="chat-window">
  <div class="chat-header" [class.new-message-mode]="isNewMessageMode">
    <ng-container *ngIf="isNewMessageMode; else normalHeader">
      <h3>{{ 'CHAT.NEW_MESSAGE' | translate }}</h3>
      <div class="new-message-recipient-wrapper">
        <div class="chip-input new-message-recipient-chip-input">
          <div class="chips">
            <div class="chip recipient-chip" *ngFor="let u of selectedRecipientUsers">
              <app-svg-images
                class="recipient-avatar"
                [iconName]="u.profileImageUrl || 'steffen-hoffmann'"
                [width]="'100%'"
                [height]="'100%'"
                [className]="'avatar-icon'">
              </app-svg-images>
              <span class="chip-name">&#64;{{ u.name || u.email }}</span>
              <button type="button" class="chip-remove" (click)="removeRecipientUser(u.uid)">×</button>
            </div>

            <div class="chip recipient-chip" *ngFor="let c of selectedRecipientChannels">
              <span class="chip-prefix">#</span>
              <span class="chip-name">{{ c.name }}</span>
              <button type="button" class="chip-remove" (click)="removeRecipientChannel(c.id!)">×</button>
            </div>

            <input
              #recipientInputEl
              class="member-input new-message-recipient-input"
              type="text"
              [value]="recipientInput"
              (input)="onRecipientInput($event)"
              [placeholder]="'CHAT.RECIPIENT_PLACEHOLDER' | translate"
            />
          </div>
        </div>

        <div
          class="mention-dropdown ui-mention-dropdown"
          [ngClass]="recipientTagType === 'user' ? 'search-results search-options ui-panel ui-panel--popover' : ''"
          *ngIf="showRecipientTagDropdown"
        >
          <ng-container *ngIf="recipientTagType === 'user'">
            <div class="search-section-title">{{ 'HEADER.SEARCH_USERS' | translate }}</div>
            <div class="search-options-list ui-mention-list" *ngIf="filteredRecipientMentionUsers.length; else noRecipientUsers">
              <button
                type="button"
                class="search-option ui-mention-item"
                *ngFor="let user of filteredRecipientMentionUsers"
                (mousedown)="selectRecipientMention(user)"
              >
                <span class="search-option-avatar">
                  <app-svg-images
                    [iconName]="user.profileImageUrl || 'steffen-hoffmann'"
                    [width]="'3.2rem'"
                    [height]="'3.2rem'"
                    [className]="'avatar-icon'">
                  </app-svg-images>
                </span>
                <span class="search-option-body">
                  <span class="search-option-header">
                    <span class="search-option-title">{{ user.name || ('HEADER.USER' | translate) }}</span>
                  </span>
                  <span class="search-option-subtitle" *ngIf="user.email">{{ user.email }}</span>
                </span>
              </button>
            </div>
            <ng-template #noRecipientUsers>
              <div class="search-empty">{{ 'SIDEBAR.NO_CONTACTS' | translate }}</div>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="recipientTagType === 'channel'">
            <ul class="mention-list ui-mention-list" *ngIf="filteredRecipientMentionChannels.length; else noRecipientMentionChannels">
              <li
                class="mention-item ui-mention-item ml-20px"
                *ngFor="let channel of filteredRecipientMentionChannels"
                (click)="selectRecipientChannel(channel)"
              >
                <app-svg-images
                  [iconName]="'tag'"
                  [width]="'1.21rem'"
                  [height]="'1.14rem'"
                ></app-svg-images>
                <span class="mention-name ui-mention-name">{{ channel.name }}</span>
              </li>
            </ul>
            <ng-template #noRecipientMentionChannels>
              <div class="mention-empty ui-mention-empty">{{ 'SIDEBAR.NO_CHANNELS' | translate }}</div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-template #normalHeader>
    <ng-container *ngIf="currentChannel; else dmOrChoose">
      <div class="channel-header-row">
        <div class="channel-info-anchor">
          <button type="button" class="btn-channel-info" (click)="openChannelHeaderModal('channel-info')">
            <app-svg-images class="display-center-center" [iconName]="'tag'"></app-svg-images>
            <h3>{{ currentChannel.name }}</h3>
             <app-svg-images class="display-center-center" [iconName]="'keyboard_arrow_down'" [width]="'14'" [height]="'9'"></app-svg-images>
          </button>

          <app-channel-header-modals
            [isOpen]="isChannelHeaderModalOpen && channelHeaderModalType === 'channel-info'"
            [type]="'channel-info'"
            [channel]="currentChannel"
            (closed)="closeChannelHeaderModal()"
            (channelLeft)="onChannelLeft()"
          ></app-channel-header-modals>
        </div>

        <div class="channel-members-actions">
          <div class="members-anchor">
            <button type="button" class="btn-members" (click)="openChannelHeaderModal('members')">
              <div class="member-avatars">
                <app-svg-images
                  *ngFor="let u of channelMemberPreview"
                  class="member-avatar group-member-avatar"
                  [iconName]="u.profileImageUrl || 'steffen-hoffmann'"
                  [width]="'100%'"
                  [height]="'100%'">
                </app-svg-images>
              </div>
              <span class="members-count">{{ currentChannel.members?.length }}</span>
            </button>

            <app-channel-header-modals
              [isOpen]="isChannelHeaderModalOpen && channelHeaderModalType === 'members'"
              [type]="'members'"
              [channel]="currentChannel"
              (closed)="closeChannelHeaderModal()"
              (channelLeft)="onChannelLeft()"
              (openType)="openChannelHeaderModal($event)"
              (userProfileRequested)="openUserProfile($event)"
            ></app-channel-header-modals>
          </div>

          <div class="add-members-anchor">
            <button type="button" class="btn-add-members display-center-center" (click)="openChannelHeaderModal('members')" aria-label="Add members">
              <app-svg-images class="add-member-btn" [iconName]="'add_members'" [width]="'24'" [height]="'24'"></app-svg-images>
            </button>

            <app-channel-header-modals
              [isOpen]="isChannelHeaderModalOpen && channelHeaderModalType === 'add-members'"
              [type]="'add-members'"
              [channel]="currentChannel"
              (closed)="closeChannelHeaderModal()"
              (channelLeft)="onChannelLeft()"
            ></app-channel-header-modals>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #dmOrChoose>
      <ng-container *ngIf="currentDMUser; else chooseOne">
        <div class="channel-info dm-info">
          <div class="dm-avatar-wrapper" (click)="openUserProfile(currentDMUser)">
            <app-svg-images
              [iconName]="currentDMUser.profileImageUrl || 'steffen-hoffmann'"
              [width]="'50'"
              [height]="'50'"
              [className]="'avatar-icon'">
            </app-svg-images>
            <span class="ui-status-indicator" [ngClass]="'status-' + currentDMUser.status"></span>
          </div>
          <h3 class="dm-profile-trigger" (click)="openUserProfile(currentDMUser)">{{ currentDMUser.name }}</h3>
        </div>
      </ng-container>
    </ng-template>

    <ng-template #chooseOne>
      <div class="channel-info">
        <h3>{{ 'CHAT.SELECT_CHANNEL' | translate }}</h3>
      </div>
    </ng-template>
    </ng-template>
  </div>

 

  <div class="messages-container" #messagesContainer>
    <ng-container *ngIf="!messages || messages.length === 0; else messagesList">
      <div class="empty-chat">
        <ng-container *ngIf="currentChannel; else dmOrNoneSelected">
          <h2 class="empty-title channel-empty-title">
            <app-svg-images class="hash" [iconName]="'tag'" [width]="'22'" [height]="'23'"></app-svg-images>
            <span>{{ currentChannel.name }}</span>
          </h2>
          <p class="empty-text">
            {{ getChannelCreatedHint(currentChannel) }} {{ 'CHAT.CHANNEL_START' | translate }}
            <span class="empty-channel-tag">#{{ currentChannel.name }}</span>.
          </p>
        </ng-container>
        <ng-template #dmOrNoneSelected>
          <ng-container *ngIf="currentDMUser; else noneSelected">
            <div class="dm-empty-header">
              <app-svg-images
                class="dm-empty-avatar"
                [iconName]="currentDMUser.profileImageUrl || 'steffen-hoffmann'"
                [width]="'100%'"
                [height]="'100%'"
                [className]="'avatar-icon'"
                (click)="openUserProfile(currentDMUser)">
              </app-svg-images>
              <h2 class="empty-title dm-profile-trigger" (click)="openUserProfile(currentDMUser)">{{ currentDMUser.name }}</h2>
            </div>
            <p class="empty-text">
              {{ 'CHAT.CONVERSATION_BETWEEN' | translate }}
              <span class="dm-mention dm-profile-trigger" (click)="openUserProfile(currentDMUser)">&#64;{{ currentDMUser.name }}</span>
              {{ 'CHAT.CONVERSATION_BETWEEN_END' | translate }}
            </p>
          </ng-container>
          <ng-template #noneSelected>
            <h2 class="empty-title">{{ 'CHAT.SELECT_CHANNEL' | translate }}</h2>
            <p class="empty-text">{{ 'CHAT.SELECT_CHANNEL_TEXT' | translate }}</p>
          </ng-template>
        </ng-template>
      </div>
    </ng-container>

    <ng-template #messagesList>
      <ng-container *ngFor="let message of messages; let i = index">
        <div *ngIf="shouldShowDateSeparator(i)" class="date-separator">
          <span>{{ getMessageDate(message) }}</span>
        </div>

        <app-message-item
          [message]="message"
          [currentUserId]="currentUserId"
          [showThreadButton]="true"
          [showCommentButton]="!!currentChannel"
          (threadClicked)="openThread(message)"
          [senderClickable]="true"
          (senderClicked)="openSenderProfile($event)"
          (mentionClicked)="openSenderProfile($event)"
          (channelClicked)="navigateToChannel($event)"
          (reactionToggled)="onReactionToggled($event)"
          class="chat-message">
        </app-message-item>
      </ng-container>
    </ng-template>
  </div>

  <div class="input-container">
    <app-input-field 
      [channelName]="currentChannel?.name" 
      [recipientName]="currentDMUser?.name"
      (messageSent)="onMessageSent($event)"
      (userProfileClicked)="openSenderProfile($event)">
    </app-input-field>
  </div>

  <app-user-profile-modal
    *ngIf="showUserProfileModal"
    [user]="selectedProfileUser"
    [allowEdit]="isSelectedProfileOwn()"
    [showMessageButton]="!isSelectedProfileOwn()"
    (closed)="closeUserProfile()"
    (message)="startDirectMessageFromProfile($event)"
  ></app-user-profile-modal>
</div>
