<div class="chat-input-container">
  <div class="emoji-picker" *ngIf="showEmojiPicker">
    <button
      type="button"
      class="emoji-btn"
      *ngFor="let emoji of emojis"
      (click)="insertEmoji(emoji)"
    >
      {{ emoji }}
    </button>
  </div>

  <div class="input-wrapper">
    <textarea
      [(ngModel)]="message"
      (keydown)="onKeyPress($event)"
      [placeholder]="getTitle()"
      class="input-field"
      rows="1"
      [disabled]="isSending"
    ></textarea>

    <div class="actions-bar">
      <div class="actions-left">
        <button type="button" class="action-btn" (click)="toggleEmojiPicker()" title="Emoji">
          <app-svg-images [iconName]="'smiley'" [width]="'20'" [height]="'20'"></app-svg-images>
        </button>
        <button type="button" class="action-btn" title="Person erwähnen" (click)="insertMention()">
          <app-svg-images [iconName]="'alternate_email'" [width]="'20'" [height]="'20'"></app-svg-images>
        </button>
      </div>

      <button
        type="button"
        class="btn-send"
        (click)="sendMessage()"
        title="Nachricht senden"
      >
        <ng-container *ngIf="isSending; else sendIcon"><span class="loading">⏳</span></ng-container>
        <ng-template #sendIcon><app-svg-images [iconName]="'send'" [width]="'22'" [height]="'19'"></app-svg-images></ng-template>
      </button>
    </div>
  </div>
</div>

