<div class="chat-input-container">
  <div class="emoji-picker" *ngIf="showEmojiPicker">
    <button
      type="button"
      class="emoji-btn"
      *ngFor="let emoji of emojis"
      (click)="insertEmoji(emoji)"
    >
      {{ emoji }}
    </button>
  </div>

  <div class="user-tag-dropdown" *ngIf="showTagList">
    <!-- User Liste wenn @ getippt -->
    <ng-container *ngIf="tagListType === 'user'">
      <ul class="user-list" *ngIf="users.length; else noUsers">
        <li class="user-item"
            *ngFor="let user of users"
            [class.active]="selectedUserIds.includes(user.uid)"
            (mousedown)="tagUser(user)">
          <div class="user-avatar">
            <app-svg-images [iconName]="user.profileImageUrl || 'steffen-hoffmann'" [width]="'50'" [height]="'50'"></app-svg-images>
            <span class="status-indicator" [ngClass]="getStatusClass(user)"></span>
          </div>
          <span class="user-name">{{ user.name }}</span>
        </li>
      </ul>
      <ng-template #noUsers>
        <div class="empty-state">{{ 'SIDEBAR.NO_CONTACTS' | translate }}</div>
      </ng-template>
    </ng-container>
    
    <ng-container *ngIf="tagListType === 'channel'">
      <ul class="channel-list" *ngIf="channels.length; else noChannels">
        <li class="channel-item"
            *ngFor="let channel of channels"
            [class.active]="selectedChannelIds.includes(channel.id!)"
            (mousedown)="tagChannel(channel)">
          <span class="channel-icon">#</span>
          <span class="channel-name">{{ channel.name }}</span>
        </li>
      </ul>
      <ng-template #noChannels>
        <div class="empty-state">{{ 'SIDEBAR.NO_CHANNELS' | translate }}</div>
      </ng-template>
    </ng-container>
  </div>

  <div class="input-wrapper">
    <div
      #messageInput
      class="input-field"
      contenteditable="true"
      [attr.data-placeholder]="getTitle()"
      (keydown)="onKeyPress($event)"
      (input)="onInput($event)"
      [class.disabled]="isSending"
    ></div>

    <div class="actions-bar">
      <div class="actions-left">
        <button type="button" class="action-btn" (click)="toggleEmojiPicker()" title="Emoji">
          <app-svg-images [iconName]="'smiley'" [width]="'20'" [height]="'20'"></app-svg-images>
        </button>
        <button type="button" class="action-btn" title="Person erwähnen" (mousedown)="toggleUserTagList()">
          <app-svg-images [iconName]="'alternate_email'" [width]="'20'" [height]="'20'"></app-svg-images>
        </button>
      </div>

      <button
        type="button"
        class="btn-send"
        (click)="sendMessage()"
        title="Nachricht senden"
      >
        <ng-container *ngIf="isSending; else sendIcon"><span class="loading">⏳</span></ng-container>
        <ng-template #sendIcon><app-svg-images [iconName]="'send'" [width]="'22'" [height]="'19'"></app-svg-images></ng-template>
      </button>
    </div>
  </div>
</div>

