<div class="login-container">
  <app-header-login></app-header-login>
  <div class="decorative-curve"></div>
  <div class="login-card">
    <h1 class="login-title">{{ 'LOGIN.TITLE' | translate }}</h1>
    <p class="login-subtitle">{{ 'LOGIN.SUBTITLE' | translate }}</p>
    
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
      <div class="input-group">
        <div class="input-icon">
          <app-svg-images iconName="mail" [width]="'20'" [height]="'16'"></app-svg-images>
        </div>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
          class="form-input"
        />
      </div>
      
      <div class="input-group">
        <div class="input-icon">
          <app-svg-images iconName="lock" [width]="'16'" [height]="'21'"></app-svg-images>
        </div>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
          class="form-input"
        />
      </div>
      
      <a routerLink="/forgot-password" class="forgot-password-link">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
      
      <div class="divider">
        <span>{{ 'LOGIN.OR' | translate }}</span>
      </div>
      
      <button type="button" (click)="onGoogleLogin()" class="google-login-button">
        <app-svg-images 
          iconName="google" 
          [width]="'20'" 
          [height]="'20'" 
          [className]="'google-icon'">
        </app-svg-images>
        <span>{{ 'LOGIN.GOOGLE_LOGIN' | translate }}</span>
      </button>
      
      <div class="button-group">
        <button type="submit" [disabled]="!loginForm.valid" class="primary-login-button">
          {{ 'LOGIN.LOGIN_BUTTON' | translate }}
        </button>
        
        <button type="button" routerLink="/dashboard" class="guest-login-button">
          {{ 'LOGIN.GUEST_LOGIN' | translate }}
        </button>
      </div>
    </form>
  </div>
  
  <app-overlay 
    [isVisible]="showOverlay"
    [type]="overlayType"
    [title]="overlayTitle"
    [message]="overlayMessage"
    (close)="onOverlayClose()">
  </app-overlay>
</div>
