<ng-container *ngIf="message">
	<div class="message-item" [class.own-message]="isOwnMessage" [class.edit-mode]="showEditMessage || showEditMessageInput" (mouseleave)="hideEditMessage()">
		<div class="message-avatar">
			<app-svg-images [iconName]="getAvatarSrc()" [width]="'70'" [height]="'70'"></app-svg-images>
		</div>

		<div class="message-content" *ngIf="!showEditMessageInput">
			<div class="message-header">
				<span
					class="sender-name"
					[class.clickable]="senderClickable"
					(click)="onSenderNameClick($event)"
				>{{ getSenderName() }}</span>
				<span class="message-time">{{ getTime() }}</span>
				<span class="edited-label" *ngIf="message.isEdited">(bearbeitet)</span>
			</div>

			<div class="message-bubble">
				<p>{{ getContent() }}</p>
			</div>

			<div class="message-reactions" *ngIf="showReactions">
				<button
					type="button"
					class="reaction-badge"
					*ngFor="let reaction of getReactions()"
					[class.has-reacted]="reaction.hasReacted"
					(click)="toggleReaction(reaction.emoji)"
				>
					{{ reaction.emoji }} {{ reaction.count }}
				</button>

				<div class="reaction-picker-wrapper" *ngIf="!isOwnMessage">
					<!-- <button type="button" class="btn-add-reaction" (click)="toggleReactionPicker()">➕</button> -->

					<div class="reaction-picker" *ngIf="showReactionPicker">
						<button
							type="button"
							class="reaction-option"
							*ngFor="let emoji of availableReactions"
							(click)="addReaction(emoji)"
						>
							{{ emoji }}
						</button>
					</div>
				</div>
			</div>

			<button *ngIf="showThreadButton" class="thread-reply-btn" (click)="threadClicked.emit()">
				<ng-container *ngIf="message.replies?.length; else noReplies">
					{{ message.replies.length }}
					{{ message.replies.length === 1 ? 'Antwort' : 'Antworten' }}
				</ng-container>
				<ng-template #noReplies>Antworten</ng-template>
			</button>
		</div>

		
		<div class="hover-reaction-bar" *ngIf="!showEditMessageInput" [class.own-message-bar]="isOwnMessage" [class.thread-bar]="!showThreadButton">
			<ng-container *ngIf="showThreadButton">
				<button>
					<app-svg-images [iconName]="'green_mack'" [width]="'20'" [height]="'20'"></app-svg-images>
				</button>
				<button>
					<app-svg-images [iconName]="'nice'" [width]="'20'" [height]="'20'"></app-svg-images>
				</button>
			</ng-container>
			<button>
				<app-svg-images [iconName]="'add_reaction'" [width]="'24'" [height]="'24'"></app-svg-images>
			</button>
			<button *ngIf="showThreadButton">
				<app-svg-images [iconName]="'comment'" [width]="'24'" [height]="'24'"></app-svg-images>
			</button>
			<button *ngIf="isOwnMessage" (mousedown)="onMoreVertClick()">
				<app-svg-images [iconName]="'more_vert'" [width]="'4'" [height]="'16'"></app-svg-images>
			</button>
		</div>
		<div class="edit-message-container" *ngIf="isOwnMessage" [class.show]="showEditMessage">
			<button (click)="openEditMessageInput()" class="edit-message">
				Nachricht bearbeiten
			</button>
		</div>
		
		<div class="message-item-spacer" *ngIf="isOwnMessage && showEditMessageInput" [class.show-edit-input]="showEditMessageInput">
			<div class="message-spacer">
				<textarea type="text" [value]="getContent()"></textarea>
				<div class="edit-message-actions">
					<div class="left-actions">
						<button class="btn-emoji">
						<app-svg-images [iconName]="'smiley'" [width]="'20'" [height]="'20'"></app-svg-images>
					</button>
					</div>
					<div class="right-actions">
					<button class="btn-cancel" (click)="hideEditMessageInput()">
					Abbrechen
					</button>
				<button (click)="saveEditMessage()" class="btn-save">
					Speichern
				</button>
				</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

