<div class="thread">
  <div class="thread-header">
    <h4>Thread</h4>
    <button class="close-button" (click)="closeThread()">×</button>
  </div>
  
  <div class="thread-messages">
    <app-message-item 
      *ngIf="parentMessage" 
      [message]="parentMessage"
      class="original-message">
    </app-message-item>
    
    <div *ngIf="parentMessage" class="thread-divider">Antworten:</div>
    
    <app-message-item 
      *ngFor="let message of threadMessages" 
      [message]="message"
      class="reply-message">
    </app-message-item>
    
    <div *ngIf="threadMessages.length === 0 && parentMessage" class="empty-state">
      <p>No replies yet.</p>
    </div>
  </div>
  
  <div class="thread-input">
    <app-input-field (messageSent)="onReplySent($event)"></app-input-field>
  </div>
</div>