<div class="thread">
  <div class="thread-header">
    <h4>Thread</h4>
    <span class="channel" *ngIf="currentChannel"> # {{ currentChannel.name }}</span>
    <button class="close-button" type="button" (click)="closeThread()" aria-label="Close">
      <app-svg-images [iconName]="'close'" [width]="'24'" [height]="'24'" [className]="'icon-colored'"></app-svg-images>
    </button>
  </div>
  
  <div class="thread-messages">
    <app-message-item
      *ngIf="parentMessage"
      [message]="parentMessage"
      [currentUserId]="currentUserId"
      [showReactions]="true"
      (reactionToggled)="onReactionToggled($event)"
      (channelClicked)="navigateToChannel($event)"
      class="original-message">
    </app-message-item>
    
    <div *ngIf="parentMessage" class="thread-divider">
      <ng-container *ngIf="threadMessages.length > 0">
              {{ threadMessages.length }}
              {{ threadMessages.length === 1 ? 'Antwort' : 'Antworten' }}
            </ng-container>
            
    </div>
    
    <app-message-item
      *ngFor="let message of threadMessages"
      [message]="message"
      [currentUserId]="currentUserId"
      [showReactions]="true"
      (reactionToggled)="onReactionToggled($event)"
      (channelClicked)="navigateToChannel($event)">
    </app-message-item>
    
    <p *ngIf="threadMessages.length === 0">No replies yet.</p>
  </div>
  
  <div class="thread-input">
    <app-input-field (messageSent)="onReplySent($event)"></app-input-field>
  </div>
</div>