<div class="thread">
  <div class="thread-header">
    <h4>Thread</h4>
    <button class="close-button" (click)="closeThread()">×</button>
  </div>
  
  <div class="thread-messages">
    <div *ngIf="parentMessage" class="original-message">
      <div class="thread-message-header">
        <span class="thread-message-sender">{{ parentMessage.senderName }}</span>
        <span class="thread-message-timestamp">{{ parentMessage.timestamp | date:'short' }}</span>
      </div>
      <div class="thread-message-text">{{ parentMessage.content }}</div>
      <div class="thread-divider">Antworten:</div>
    </div>
    <div *ngFor="let message of threadMessages" class="thread-message reply-message">
      <div class="thread-message-header">
        <span class="thread-message-sender">{{ message.senderName }}</span>
        <span class="thread-message-timestamp">{{ message.timestamp | date:'short' }}</span>
      </div>
      <div class="thread-message-text">{{ message.content }}</div>
    </div>
    
    <div *ngIf="threadMessages.length === 0 && parentMessage" class="empty-state">
      <p>No replies yet.</p>
    </div>
  </div>
  
  <div class="thread-input">
    <app-input-field (messageSent)="onReplySent($event)"></app-input-field>
  </div>
</div>