<div class="choose-avatar-container">
  <div class="decorative-curve"></div>
  <div class="choose-avatar-card">
    <h1 class="choose-avatar-title">{{ 'CHOOSE_AVATAR.TITLE' | translate }}</h1>
    <p class="choose-avatar-subtitle">{{ userName }}</p>
    
    <div class="avatar-preview">
      <div class="avatar-circle">
        <app-svg-images 
          *ngIf="selectedAvatar === null" 
          iconName="person_filled" 
          [width]="'88'" 
          [height]="'88'"
          className="selected-avatar-svg">
        </app-svg-images>
        <app-svg-images 
          *ngIf="selectedAvatar !== null" 
          [iconName]="avatars[selectedAvatar]" 
          [width]="'176'" 
          [height]="'176'"
          className="selected-avatar-svg">
        </app-svg-images>
      </div>
    </div>

    <p class="avatar-instruction">{{ 'CHOOSE_AVATAR.SELECT_FROM_LIST' | translate }}</p>

    <div class="avatars-grid">
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 0"
        (click)="selectAvatar(0)">
        <app-svg-images iconName="steffen-hoffmann" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 1"
        (click)="selectAvatar(1)">
        <app-svg-images iconName="sofia-mueller" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 2"
        (click)="selectAvatar(2)">
        <app-svg-images iconName="noah-braun" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 3"
        (click)="selectAvatar(3)">
        <app-svg-images iconName="frederik-beck" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 4"
        (click)="selectAvatar(4)">
        <app-svg-images iconName="elise-roth" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
      <div 
        class="avatar-option"
        [class.selected]="selectedAvatar === 5"
        (click)="selectAvatar(5)">
        <app-svg-images iconName="elias-neumann" [width]="'72'" [height]="'72'"></app-svg-images>
      </div>
    </div>

    <button 
      class="primary-button" 
      [disabled]="selectedAvatar === null"
      (click)="onContinue()">
      {{ 'CHOOSE_AVATAR.CONTINUE' | translate }}
    </button>
  </div>
</div>
