<ng-container *ngIf="isVisible">
  <div class="modal-overlay dim" (click)="onOverlayClick()"></div>

  <div class="modal" [ngClass]="activeType" (click)="onModalClick($event)">
    <!-- Channel Info Modal -->
    <ng-container *ngIf="activeType === 'channel-info'">
      <div class="modal-header">
        <div class="title-row">
          <div class="title-left">
            <app-svg-images class="hash" [iconName]="'tag'" [width]="'100%'" [height]="'100%'"></app-svg-images>
            <span class="title">{{ channel?.name }}</span>
          </div>
          <button type="button" class="btn-close" (click)="close()">×</button>
        </div>
      </div>

      <div class="modal-body">
        <div class="section">
          <div class="channel-name-group" [class.has-border]="!isEditingName">
            <div class="section">
              <div class="section-head">
                <span class="label">Channel-Name</span>
                <button type="button" class="btn-edit" (click)="isEditingName ? saveName() : startEditName()">
                  {{ isEditingName ? 'Speichern' : 'Bearbeiten' }}
                </button>
              </div>

                <div class="value channel-name-value">
                  <ng-container *ngIf="isEditingName; else nameView">
                    <div class="input-with-prefix">
                      <app-svg-images class="input-prefix" [iconName]="'tag'" [width]="'100%'"></app-svg-images>
                      <input class="inline-input" [(ngModel)]="draftName" />
                    </div>
                  </ng-container>
                  <ng-template #nameView>
                    <app-svg-images [iconName]="'tag'" [width]="'17'" [height]="'16'"></app-svg-images>
                    <span>{{ channel?.name }}</span>
                  </ng-template>
                </div>
            </div>
          </div>
          <div class="description-group" [class.has-border]="!isEditingDescription">
            <div class="section">
              <div class="section-head">
                <span class="label">Beschreibung</span>
                <button type="button" class="btn-edit" (click)="isEditingDescription ? saveDescription() : startEditDescription()">
                  {{ isEditingDescription ? 'Speichern' : 'Bearbeiten' }}
                </button>
              </div>
              <div class="value">
                <input *ngIf="isEditingDescription" class="inline-input" [(ngModel)]="draftDescription">
                <span *ngIf="!isEditingDescription">{{ channel?.description }}</span>
              </div>
            </div>

            <div class="divider"></div>

            <div class="created-by">
              <span class="label">Erstellt von</span>
              <span class="value created-by-name">{{ createdByName }}</span>
            </div>
          </div>
        </div>

        <div class="leave-actions">
          <button type="button" class="btn-leave" (click)="leaveChannel()">Channel verlassen</button>
        </div>
      </div>
    </ng-container>

    <!-- Members Modal -->
    <ng-container *ngIf="activeType === 'members'">
      <div class="modal-header">
        <div class="title-row">
          <span class="title">Mitglieder</span>
          <button type="button" class="btn-close" (click)="close()">×</button>
        </div>
      </div>

      <div class="modal-body">
        <div class="members-list">
          <div class="member" *ngFor="let user of memberUsers">
            <app-svg-images
          class="user-avatar member-avatar"
          [iconName]="user?.profileImageUrl || 'steffen-hoffmann'"
          [width]="'100%'"
          [height]="'100%'">
        </app-svg-images>
            <span class="name">{{ getMemberLabel(user) }}</span>
          </div>
        </div>

        <button type="button" class="btn-add-members" (click)="openAddMembers()">Mitglieder hinzufügen</button>
      </div>
    </ng-container>

    <!-- Add Members Modal -->
    <ng-container *ngIf="activeType === 'add-members'">
      <div class="modal-header">
        <div class="title-row">
          <span class="title">Leute hinzufügen</span>
          <button type="button" class="btn-close" (click)="close()">×</button>
        </div>
      </div>

      <div class="modal-body">
        <div class="channel-name">
          <app-svg-images class="hash" [iconName]="'tag'" [width]="'100%'" [height]="'100%'"></app-svg-images>
          <span>{{ channel?.name }}</span>
        </div>

        <div class="chip-input">
          <div class="chips">
            <div class="chip" *ngFor="let u of selectedUsers">
              <app-svg-images
                class="user-avatar add-member-avatar"
                [iconName]="u?.profileImageUrl || 'steffen-hoffmann'"
                [width]="'100%'"
                [height]="'100%'">
                </app-svg-images>
              <span class="chip-name">{{ u.name }}</span>
              <button type="button" class="chip-remove" (click)="removeSelectedUser(u.uid)">×</button>
            </div>

            <input
              class="member-input"
              type="text"
              [(ngModel)]="addMemberQuery"
              placeholder="Name oder E-Mail"
            />
          </div>

          <div class="suggestions" *ngIf="filteredSelectableUsers.length">
            <button
              type="button"
              class="suggestion"
              *ngFor="let user of filteredSelectableUsers"
              (click)="addUserToSelection(user)"
            >
              <app-svg-images
                class="user-avatar add-member-avatar"
                [iconName]="user?.profileImageUrl || 'steffen-hoffmann'"
                [width]="'100%'"
                [height]="'100%'">
              </app-svg-images>
              <span class="name">{{ user.name }}</span>
            </button>
          </div>
        </div>

        <div class="actions">
          <button type="button" class="btn-primary" [disabled]="!canConfirmAddMembers" (click)="confirmAddMembers()">
            Hinzufügen
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
